<div class="modal fade bd-sign-in-modal-lg"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signInModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="errors"></div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f| %>
          <div id="modal-form">
            <div class="form-group">
              <div class="field">
                <%= f.email_field :email, :class => "form-control",autofocus: true, autocomplete: "email", placeholder: "email" %>
              </div>

              <div class="field">
                <%= f.password_field :password, :class => "form-control", autocomplete: "current-password", placeholder: "password" %>
              </div>


            </div>
          
          <div class="actions float-right">
            <%= f.submit "submit", :class => "btn" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="float-left field" id="modal-checkbox">
              <%= f.check_box :remember_me, :class => "float-left" %>
            </div>
          <% end %>
        </div>  
        <% end %>
      </div>
    </div>
  </div>
</div>